<div className="container">
   <div className="m-4 p-2 d-flex align-items-center justify-content-center rounded shadow todo">
      <input type="text" id="todo-input" placeholder="Neue Aufgabe hinzufügen" />
      <button className="mx-2 btn btn-primary rounded-circle" (onClick)="this.addTodo()" title="Hinzufügen">
         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path
               fillRule="evenodd"
               d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"
            />
         </svg>
      </button>
   </div>
   <ul className="ps-0">
      @for (item of this.items(); track item.id) {
         <li className="m-4 p-2 list-unstyled rounded shadow todo">item.title</li>
      }
   </ul>
</div>