<nav class="container">
   <a href="/" class="navbar-brand">user-profile-arndt</a>
   <button aria-controls="basic-navbar-nav" type="button" aria-label="Toggle navigation" class="navbar-toggler collapsed">
      <span class="navbar-toggler-icon"></span>
   </button><div class="navbar-collapse collapse" id="basic-navbar-nav">
      <div class="ms-auto navbar-nav">
         <a href="/" data-rr-ui-event-key="/" class="nav-link">Home</a>
         <a href="/contact" data-rr-ui-event-key="/contact" class="nav-link">Kontakt</a>
         <a href="/login" data-rr-ui-event-key="/login" class="nav-link">Login</a>
      </div>
   </div>
</nav>
